/*html {
  background: url("/img/main-bg.jpeg") no-repeat center center fixed;
  background-size: cover;
}*/

.main-title {
  color: white;
  font-family: 'Roboto Mono', monospace;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin: 180px;

}

.main-title-header1 {
  font-size: 90px;
  font-weight: bolder;
  text-align: center;
}

.main-title-header2 {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.bottom-arrow {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.fa-chevron-circle-down {
  color: white;
}
.icon-footer {
  display: flex;
  align-content: flex-end;
  justify-content: center;
}

.footer {
  height: 15vh;
  width: 100%;
}
.main-wrapper {
  background: url("/img/main-bg.jpeg") no-repeat center center fixed;
  background-size: cover;
}
.header {
  height: 10vh;
  width: 100%;
  padding-top: 25px;
}
.header ul {
  display: flex;
  justify-content: space-around;
}

.header li {
  font-size: 25px;
  color: white;
}




.main-content {
  width: 100%;
  height: 75vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
}


.title {
  padding-bottom: 10vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.title-cont {
  display: flex;
  flex-direction: column;
}

.title h1 {
  color: white;
  font-weight: bold;
  font-size: 6rem;
}

.title h3 {
  color: white;
  font-size: 3rem;
}

.fa-twitter {
  color: white;
}

.fa-bars {
  color: white;
}

.fa-facebook-official {
  color: white;
}


.mobile-tags i{
  display: none;
}
.mobile-tags{
  display: flex;
}
.mobile-holder-left{
  width: 50%;
}
.hamburger-header {
  padding-left: 50px;
}
.mobile-holder-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.mobile-header {
  padding-right: 50px;
}
.desktop-tags {
  display: flex;
  justify-content: space-around;
}


@media (max-width: 650px){
  .desktop-tags li{
    display: none;
  }
  .mobile-tags i{
    display: block;
  }
}
